body{
    background-color: white;
    margin: 0;
}


/*THIS IS FOR THE TOP MOST PART OF THE HOMEPAGE*/

.mountain_top{
    background-color: #dff4ff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    width: auto;
} 

.mountain_top h1{
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    margin-bottom: 0;
    color: #74c3df;
    text-align: center;
}

.mountain_top p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    color: #74c3df;
}


.mountain_top .cloud_1{
    float: left;
    width: 100px;
}

.mountain_top .cloud_2{
   float: right;
   width: 100px;
}

.mountain_top .mountain{
    width: 55%;
    align-items: center;
    padding: 0 20%;
}





/*THE PROFILE ABOUT ME PART OF THE PAGE*/

.profile_pic{
    width: auto;
}

.profile_pic img{
    border-radius: 50%;
    width: 25%; 
    margin-top: 10%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile_pic figcaption{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    padding: 0 auto;
    color: #74c3df;
}

.profile_pic p{
    text-align: center;
    padding: 0 30%;
}





/*FOR MOBILE DEVICES*/

